// .env.example for PttChrome-CCNS, for domain term.ccns.cc

CNAME=term.ccns.cc
PTTCHROME_THEME=ccns
PTTCHROME_PAGE_TITLE=PttChrome-CCNS
PTTCHROME_PAGE_DESCRIPTION="使用虛擬終端機「PttChrome-CCNS」，輸入「ccns.cc」，前往傳說中的夢之大地「Dream-Land BBS」——位於成功大學的 BBS 站臺之一，站內有許多有關成功大學而搜尋引擎搜不到的資訊。"
DEFAULT_SITE=wsstelnet://ws.ccns.cc/bbs
DEV_PROXY_TARGET=https://ws.ccns.cc
DEV_PROXY_HEADER=https://term.ccns.cc
GITHUB_REPOSITORY_OWNER=ccns
GITHUB_REPOSITORY=ccns/PttChrome
