// .env.example for PttChrome-CCNS, for domain term.ccns.cc

CNAME=term.ccns.cc
PTTCHROME_THEME=ccns
PTTCHROME_PAGE_TITLE=PttChrome-CCNS
DEFAULT_SITE=wsstelnet://ws.ccns.cc/bbs
ALLOW_SITE_IN_QUERY=yes
DEV_PROXY_TARGET=https://ws.ccns.cc
DEV_PROXY_HEADER=https://term.ccns.cc
GITHUB_REPOSITORY_OWNER=ccns
GITHUB_REPOSITORY=PttChrome
